.navlink {
background-color:#66b3ff;
color:white;
padding: 14px 25px;
text-align: center;
text-decoration: none;
}
.error {
color:red;
font-size:20px;
}
h2{
color:#66b3ff;
margin:5px;
padding:5px;
}
h3{
background-color:#66b3ff;
color:white;
margin:5px;
padding:5px;
}
.block {
width:250px;
margin:10px;
paddign:20px 10px 10px 10px;
float:left;
border-style:solid;
border-width:2px;
border-color:#66b3ff;
border-spacing: 15px;
position:relative;
}
